@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", serif;
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FF3D00;
    position: relative;
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: #fff;
    transform: rotate(0deg) translate(30px);
    animation: rotate 1s ease infinite;
  }
  
  .loader:after {
    animation-delay: 0.5s;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg) translate(30px);
    }
  }
  